*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#c4b4b4);
    background-color: white;
}
.main{
    position: relative;
    height: 200px;
    width: 30%;
    background:rgb(233, 211, 16);
    cursor: pointer;
    padding: 25px 75px;
    border-radius: 6px;
}
.one{
    width: 100%;
    height: 100%;
    transform: translateY(-180px);
    transition: .2s;

    position: relative;
}
img{
    border-radius: 20px;
    width: 250px;
    height: 200px;
    margin-top: 20px;
}
.too{
    font-size: 22px;
    transform: translateY(-120px);
    padding:5px ;
    text-align: center;
    font-weight: 500;
    opacity: 0;
    transition: .1s ease-in;
    pointer-events: none;
}
 h3{
    color:rgb(231, 72, 9)
}
p{
    color: rgb(41, 36, 36);
}
.main:hover >.too{
    transform: translateY(-180px);
    opacity: 1;
    pointer-events: all;
}
.main:hover{
    height: 300px;
}